*
!*/
!public/**/black_wallet_1_test561709.jpg
!public/**/black_wallet_2_test561709.jpg
!public/**/black_wallet_2_test561709_found.jpg
!public/**/knife_meteorite_test561709.jpg

!public/**/hp.jpg
!public/**/hp_found.jpg
!public/**/tumbler_hitam.jpg
!public/**/flaskdisk.jpg
!public/**/flaskdisk_found.jpg

!public/**/stnk.jpg
!public/**/kunci_motor.jpg
!public/**/dompet_putih.jpg

!public/**/koko.jpg
!public/**/pulpen.jpg

!.gitignore

